

/**
* Import Mixins to provide modules with exports.
* List other required modules here.
*/

@import "mixins";

/*------------------------------------*\

/**
* Variables
*/

$black : #000000 !default;
$white : #FFFFFF !default;


/*------------------------------------*\

/**
* @title Icons
*/


/**
*   All Logic pertaining to the top back horizontal navigation
*   should go in this file.
*/

/*------------------------------------*\

$Icons Area

*/


    i {
        font-style:normal;
    }

    .icon {
        svg {
            fill:$black;
            transition:fill $base-timing $base-easing;
        }
    }

    /**
    * Icon Sizes
    */

    .icon--nano {
        &,svg {
            height:7px ;
            width:7px ;
        }
    }

    .icon--micro {
        &,svg {
            height:15px ;
            width:15px ;
        }
    }

    .icon--milli {
        svg {
            height:18px ;
            width:18px ;
        }
    }

    .icon--alpha {
        &, svg {
            width:90px;
            height:auto;
        }
    }

    .icon--beta {
        svg {
            height:auto;
            width:20px;
        }
    }

    .icon--white {
        svg {
            fill:$white;
        }
    }


/**
* End Icons
*/
