
    /**
    * Import Mixins to provide modules with exports.
    * List other required modules here.
    */

    @import "mixins";

    /*------------------------------------*\

    /**
    * Variables
    */


    /*------------------------------------*\

    /**
    * @title Images
    */


    /**
    *   All Logic pertaining to the top back horizontal navigation
    *   should go in this file.
    */

    /*------------------------------------*\

    $Images Area

    */

    // @include exports("images") {

        figure {
            margin:0;
            padding:0;
            position:relative;
            text-align:center;
            .posts-single__content & {
                margin-top:$base-spacing-unit *2;
            }
            figcaption {
                position: absolute;
                text-align: center;
                top: 100%;
                left:0;
                right:0;
                transform: translate3d(0%, 0% , 0);
                width: auto;
                height: $base-spacing-unit * 2;
                line-height: $base-spacing-unit * 2;
                display: block;
                @extend .meta;
            }




        }

        // Get rid of gap under images by making them display: inline-block; by default
        img {
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
            height: auto;
            margin:auto;
        }

    //}
    /**
     * End Images
     */
