
    /**
    * Import Mixins to provide modules with exports.
    * List other required modules here.
    */

    @import "mixins";

    /*------------------------------------*\

    /**
    * Variables
    */


    /*------------------------------------*\

    /**
    * @title Links
    */


    /**
    *   All Logic pertaining to the top back horizontal navigation
    *   should go in this file.
    */

    /*------------------------------------*\

    */

    //@include exports("links") {

    /**
    * @name A
    * @description Default Link Styles
    * @state :hover,&:focus - hover,& focus state
    * @markup
    *   <a>Markup</a>
    */

    a {
        line-height: inherit;
        transition:color $base-timing $base-easing, background $base-timing $base-easing;;
        cursor:pointer;
        color:$black;
        text-decoration:none;
        img {
            border:none;
        }
        &.active {
            color:green !important;
        }
    }

    li a,
    p a {
        &:hover {
            color:$color-anchor-hover;
        }
    }

    .link--with-image {
        border:none;
    }

    .link--primary {
        display:inline;
        position:relative;
        &:after {
            content:'';
            left:0;
            right:0;
            bottom:-$base-spacing-unit/4;
            width:auto;
            height:1px;
            background:$black;
            position:absolute;
            transition:all $base-timing $base-easing;
            transform-origin:50% 50%;
            transform:scaleX(0);
        }
        &:after {
            background:$color-anchor-hover;
            transform:scaleX(0);
        }
        a:hover > &,
        &:hover {

            &:after {
                transform:scaleX(1);
            }
        }

    }


    .link--secondary {
        font-family: $font-family-heading;
        font-weight: $font-weight-medium;
        border-bottom:rem-calc(2px) solid;
        letter-spacing:rem-calc(1px);
        transition:all $base-timing $base-easing;
        &:hover {
            border-color:$white;
        }
    }

    .link--swipe-next,
    .link--swipe-prev {
        position:absolute;
        bottom:0;
        right:0;
        left:auto;
    }

    .link--swipe-prev {
        left:0;
        right:auto;
    }






    //}
