.index {
    position:fixed;
    top:100%;
    left:0;
    right:0;
    width:auto;
    padding:0 $base-spacing-unit * 2 $base-spacing-unit;
    transform:translate3d(0,-$base-spacing-unit * 2,0);
    z-index:index($elements, footer);
    text-align:left;
    transition:transform $base-timing $base-easing;
    &:hover {
        transform:translate3d(0,-100%,0);
    }
}

.nav--index {
    line-height:2;
    overflow:scroll;
    padding:$base-spacing-unit 0 ;
    li {
        display:block;
        float:left;
        padding-right:$base-spacing-unit;
    }
}
