.swiper-container,
.swiper-slide {
    height: 100vh;
}

.section--main {
    position:fixed;
    top:0%;
    bottom:0;
    right:0;
    left:0;
    width:auto;
    height:auto;
    transition:all $base-timing $base-easing;
    border:$base-spacing-unit/4 solid $black;
    opacity:0;
    .is-loading & {
        opacity:0;
    }
    .is-ready.is-loaded & {
        opacity:1;
    }

}

/**
*   Post Text
*/

.swiper {

}

.swiper__slide {
    position:relative;
}


.slide__image {
    background-size:contain;
    background-repeat:no-repeat;
    background-position:50% 50%;
    top:$base-spacing-unit * 4;
    bottom:$base-spacing-unit * 4;
}

.slide__intro {

}

.slide__title {
    max-width:rem-calc(500px);
    margin:auto;
}



//Navigation


.swiper__nav--left,
.swiper__nav--right {
    height:auto;
    width:auto;
    position:absolute;
    top:25%;
    bottom:25%;
    z-index:index($elements, sliderNav);
    .icon {
        transition:all $base-timing $base-easing;
        position:absolute;
        top:50%;
        padding:$base-spacing-unit;
        display:block;
        opacity:0;
    }
    &:after {
        content:' ';
        top:0;
        bottom:0;
        position:fixed;
        height:auto;
        width:$base-spacing-unit/2;
        background:$black;
        transition:transform $base-timing $base-easing;
    }
}

.swiper__nav--right {
    right:0;
    left:90%;
    cursor: e-resize;
    .icon {
        left:auto;
        right:0;
        transform:translate(100%, -50%);

    }
    &:hover .icon {
        transform:translate(0%, -50%);
        opacity:1;
    }

    &:after {
        right:0;
        transform:translate(100%, 0%);
    }
    &:hover:after {
        transform:translate(0%, 0%);
    }
}


.swiper__nav--left {
    right:90%;
    cursor: w-resize;
    left:0%;
    .icon {
        left:0;
        transform:translate(-100%, -50%);
    }
    &:hover .icon {
        transform:translate(0%, -50%);
        opacity:1;
    }
    &:after {
        left:0;
        transform:translate(-100%, 0%);
    }
    &:hover:after {
        transform:translate(0%, 0%);
    }
}
