
    /**
    * Import Mixins to provide modules with exports.
    * List other required modules here.
    */

    @import "mixins";

    /*------------------------------------*\

    /**
    * Variables
    */


    /*------------------------------------*\

    /**
    * @title Lists
    */


    /**
    *   All Logic pertaining to the top back horizontal navigation
    *   should go in this file.
    */

    /*------------------------------------*\

    */



    ul,
    ol,
    dl {
        list-style:none;
    }


    .list--inline {
        display:block;
        width:100%;
        margin-left:-$base-spacing-unit/2;
        li {
            display:inline-block;
            position:relative;
            margin:0 $base-spacing-unit/2 0;

            &.is-disabled a {
                opacity:0;
            }
        }
        a,
        label {

        }
    }
